body {
    text-align: center;
    font-family: Arial;
}

#array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    margin-top: 20px;
}

.bar {
    width: 20px;
    margin: 0 2px;
    background-color: steelblue;
}